# Descriptive Statistics

In this hands-on lesson, we will explore descriptive statistics using the Titanic dataset, a popular dataset often used for introductory data analysis. 

In this lesson, we will explore descriptive statistics numerical techniques. In the following lesson, we will explore graphical techniques.

## Exercise

Exploring Students' Performance Dataset - Numerical Techniques

**Objective**: The objective of this exercise is to practice using **numerical techniques** to analyze the Students' Performance dataset and gain insights into the students' academic performance.

**Dataset Description**:
The Students' Performance dataset contains information about students' demographic attributes, such as gender, race/ethnicity, parental education, lunch type, and test scores in three subjects: Math, Reading, and Writing.

**Exercise Steps**:

- Load the Dataset: Import the necessary libraries and load the Students' Performance dataset into a pandas DataFrame. 

- Explore the Dataset: Use basic pandas functions to get an overview of the dataset, including the number of rows and columns, and number of unique values for each column. For those columns that have less than 10 distinct values, show those unique values. *Hint: look at the previous lesson. There you can find the functions or methods you need to use.**

- Analyze Descriptive Statistics: Calculate and interpret descriptive statistics, including measures of central tendency (mean, median, mode) and dispersion (standard deviation, range) for the numerical variables, and frequency counts for categorical variables.

In [ ]:
# Dataset source URL
url = "https://raw.githubusercontent.com/data-bootcamp-v4/prework_data/main/students_performance.csv"

In [2]:
import pandas as pd
students_perf = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/prework_data/main/students_performance.csv")

Use basic pandas functions to get an overview of the dataset, including the number of rows and columns, and number of unique values for each column.

In [3]:
students_perf.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [13]:
students_perf.shape

(1000, 8)

For those columns that have less than 10 distinct values, show those unique values.

In [14]:
students_perf.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [40]:
categorical = ["gender","race/ethnicity", "parental level of education","lunch","test preparation course"]
for i in categorical:
    print(f" Column '{i}' unique values: {students_perf[i].unique()}")

 Column 'gender' unique values: ['female' 'male']
 Column 'race/ethnicity' unique values: ['group B' 'group C' 'group A' 'group D' 'group E']
 Column 'parental level of education' unique values: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
 Column 'lunch' unique values: ['standard' 'free/reduced']
 Column 'test preparation course' unique values: ['none' 'completed']

Analyze Descriptive Statistics: Calculate and interpret descriptive statistics, including measures of central tendency (mean, median, mode) and dispersion (standard deviation, range) for the numerical variables, and frequency counts for categorical variables.

In [10]:
students_perf.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

Frequency counts for categorical variables

In [15]:
students_perf["gender"].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [9]:
students_perf['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [17]:
students_perf["race/ethnicity"].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [18]:
students_perf["lunch"].value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [19]:
students_perf["test preparation course"].value_counts()

none         642
completed    358
Name: test preparation course, dtype: int64

Calculate and interpret descriptive statistics, including measures of central tendency (mean, median, mode) and dispersion (standard deviation, range) for the numerical variables

In [59]:
students_perf[numerical_values].describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [43]:
numerical_values = ["math score", "reading score", "writing score"] 
print("Mean:")
students_perf[numerical_values].mean()

Mean:

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

In [45]:
print("Median:")
students_perf[numerical_values].median()

Median:

math score       66.0
reading score    70.0
writing score    69.0
dtype: float64

In [46]:
print("Mode:")
students_perf[numerical_values].mode()

Mode:

   math score  reading score  writing score
0          65             72             74

In [57]:
print("Lowest:")
print(students_perf[numerical_values].min())
print("Higher:")
print(students_perf[numerical_values].max())
print("Variance:")
print(students_perf[numerical_values].var())

Lowest:
math score        0
reading score    17
writing score    10
dtype: int64
Higher:
math score       100
reading score    100
writing score    100
dtype: int64
Variance:
math score       229.918998
reading score    213.165605
writing score    230.907992
dtype: float64

In [61]:
range = students_perf[numerical_values].max() - students_perf[numerical_values].min()
print(range)

math score       100
reading score     83
writing score     90
dtype: int64

In [56]:
print("standard deviation:")
students_perf[numerical_values].std()

standard deviation:

math score       15.163080
reading score    14.600192
writing score    15.195657
dtype: float64